.icon {
  font-size: 14px;
  line-height: 14px;
  margin-left: -1px;
  margin-right: 4px;
}

.success {
  color: var(--accent-green-1);
}

.error {
  color: var(--accent-red-1);
}

.running {
  color: var(--brand-highlight-color);
}

.waiting {
  color: var(--text-2);
}

.progress {
  display: block;
  flex: none;
  width: var(--node-status-size);
  height: var(--node-status-size);

  :global([data-slot='progress-track']) {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(var(--brand-highlight-color) var(--node-status-progress), var(--widget-background) 0);
  }

  :global([data-slot='progress-indicator']) {
    display: none;
  }
}
