.label {
  position: absolute;
  border-radius: 50%;
  font-size: var(--base-font-size);
  background: var(--node-background-color);
  pointer-events: all;
}

:global(.open-flow-canvas-node-minimap1 .react-flow__edge-path.react-flow__edge-path) {
  stroke-width: 4;
}

:global(.open-flow-canvas-node-minimap2 .react-flow__edge-path.react-flow__edge-path) {
  stroke-width: 8;
}
