:where(.container) {
  height: 100%;
}

.scrollbar {
  box-sizing: border-box;
  --os-size: 8px;
  --os-padding-perpendicular: 2px;
  --os-padding-axis: 2px;
  --os-track-border-radius: 10px;
  --os-handle-interactive-area-offset: 4px;
  --os-handle-border-radius: 10px;
  --os-handle-bg: light-dark(rgb(0 0 0 / 24%), rgb(255 255 255 / 28%));
  --os-handle-bg-hover: light-dark(rgb(0 0 0 / 38%), rgb(255 255 255 / 42%));
  --os-handle-bg-active: light-dark(rgb(0 0 0 / 50%), rgb(255 255 255 / 54%));
}
