.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  -webkit-mask: var(--icon) no-repeat;
  mask: var(--icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
  pointer-events: none;

  &:global(.is-colored) {
    -webkit-mask: none;
    mask: none;
    background: var(--icon) no-repeat;
    background-size: 100% 100%;
    background-color: transparent;
  }
}

.external {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: middle;
  background-image: var(--icon-light);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  pointer-events: none;

  :global(.open-flow-theme-dark) & {
    background-image: var(--icon-dark);
  }
}
