.wrapper {
  padding: 0.25em 0.5em 0.5em;
  border-radius: var(--widget-radius);
  border: 1px solid var(--node-border-color);
  // background-color: var(--node-background-color);
  background-color: var(--block-editor-item-background-color);
  position: relative;
  overflow: visible;
}

.header {
  display: flex;
  align-items: center;
  position: relative;
  padding-bottom: 0.5em;

  h3 {
    flex: 1;
    margin: 0;
    padding: 0;
    font-size: 1em;
    user-select: none;
    display: flex;
    align-items: center;
  }

  aside {
    position: absolute;
    inset: 0 -0.25em auto auto;
    display: flex;
  }
}

.input {
  flex: 1;
}

.label {
  background-color: var(--widget-label-background);
}

.labelTooltip {
  color: var(--edge-string);
  font-family: var(--font-monospace);
}

.expandButton {
  justify-content: flex-start;
}

.expandButton span {
  overflow: hidden;
  text-overflow: ellipsis;
}

.footer {
  padding-top: 0.5em;
}

.arrayItemIndex {
  position: absolute;
  margin-left: -15px;
  white-space: nowrap;
  display: grid;
  place-content: center end;
  color: var(--widget-font-placeholder-color);
  font-variant-numeric: tabular-nums;

  > span {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 3px;
    overflow: hidden;
    user-select: none;
    background-color: var(--node-background-color);
  }
}

.schemaError {
  padding-top: 0.5em;
  line-height: 1.25;
  color: var(--widget-error-color);

  &:empty {
    display: none;
  }
}

.sourceEditor {
  overflow: hidden;
  border-radius: var(--widget-radius);
  --vscode-editor-background: transparent;
  --vscode-editorGutter-background: transparent;
}

.deleteBtn {
  margin-left: 4px;
  font-size: 14px;

  > button {
    color: var(--accent-red-1);
  }
}

.question {
  font-size: 1.2em;
  cursor: help;
  margin-right: 3px;
}

.resizeHandle {
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  position: absolute;
  z-index: 1;
  touch-action: none;
}

.resizeHandleW {
  width: 7px;
  height: 100%;
  left: -8px;
  top: 0;
  cursor: w-resize;
}

.resizeHandleE {
  width: 7px;
  height: 100%;
  right: -8px;
  top: 0;
  cursor: e-resize;
}

.renameError::after {
  content: '';
  position: absolute;
  inset: 0 0 0 0;
  border: 1px solid var(--widget-error-color);
  border-radius: var(--widget-radius);
  pointer-events: none;
}
