.container {
  display: inline-block;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  padding: 0 6px;
  line-height: 1;
}

.icon {
  width: 1em;
  height: 1em;
  margin-right: 4px;
  float: left;
}
