.miniMapIcon {
  width: 1em;
  height: 1em;
}

.miniMapIcon {
  font-size: calc(var(--canvas-control-icon-size) - 1px);
}

.miniMap {
  width: 200px;
  height: 150px;
}

.miniMapToggle:global(.react-flow__panel) {
  --canvas-control-container-size: 24px;

  right: 4px;
  bottom: calc(150px - var(--canvas-control-container-size) - 4px);
  top: auto;
}
