.interactionIcon,
.miniMapIcon,
.settingsIcon {
  width: 1em;
  height: 1em;
}

.interactionIcon {
  font-size: var(--canvas-control-icon-size);
}

.miniMapIcon {
  font-size: calc(var(--canvas-control-icon-size) - 1px);
}

.settingsIcon {
  font-size: calc(var(--canvas-control-icon-size) - 2px);
}

.miniMap {
  width: 200px;
  height: 150px;
}

.miniMapToggle:global(.react-flow__panel) {
  right: calc(200px - var(--canvas-control-container-size) - 4px);
  bottom: auto;
  top: calc(150px - var(--canvas-control-container-size) - 4px);
}
