@use './inspectorGeometry.scss' as geometry;

.field {
  padding: 12px 12px 16px;

  textarea {
    margin-left: geometry.$name-inset - 12px;
    margin-right: 8px;
    width: calc(100% - (#{geometry.$name-inset} - 12px) - 8px);
  }
}
